// color variables
$primary-color: rgb(145, 71, 255);
$lighter-primary-color: rgb(169, 112, 255);

$white: #ffffff;
$light-grey: #eaeaea;

// typographic values
$lighter-text-color: $white;
$light-text-color: $light-grey;