// color variables
$primary-color: #9147ff;
$lighter-primary-color: #a970ff;

$white: #ffffff;
$light-grey: #eaeaea;

// typographic values
$lighter-text-color: $white;
$light-text-color: $light-grey;
