input {
  caret-color: $light-text-color;
  margin-right: 8px;
  padding: 8px 12px;
  border: 0 none;
  border-radius: 3px;
  background-color: #212121;
  color: $lighter-text-color;
  font-size: 16px;
}
